{% extends 'leg/base.html' %}
{% block content %}

<h1><font color=blue>C - c</font></h1>
<h4>C er det trdje (3.) bogstav i alfabetet. Det er den anden konsonant</h4>
<br>
<div class="row">
{% for c in c %}
<div class="col-sm-6 mb-3 mb-sm-0">
<ul class="list-group list-group-horizontal">
  <li class="list-group-item"><img class="rounded" src="{{c.image.url}}" width="100" height="150"/><br><h3><b>{{c.ord}}</b></h3><br>{{c.beskrivelse}}</li>
  
</ul>
</div>
{% endfor %}
</div>
{% endblock content %}