{% extends 'leg/base.html' %}
{% block content %}

<h1><b><u><i><font color=green> Velkommen</font><font color=red> til ABC_LEG</font></i></u></b></h1>
<h3>Siden er lavet til at øve udtalelse af ord, stavning og leg. <br>Den kan også hjælpe med at øve konsonanter og vokaler.<br>
    På siden tilføj kan der tilføjes flere ord og billeder, som kan bruges til, hvis der køres et tema<br>
    fx pirat/sørøver. (pirat, piratskib m.m.)<br>
    Så kan børnene lede efter tingene på siderne og skrive ordene ned, og på den måde øve stavning.<br>
    De samme ting sker under Tysk og engelsk.<br>
    På siden 'andre ideer' kan man skrive, hvis man mangler noget, eller har en ide, som man gerne vil have med.
    <br></h3>
    <h3><i><b><abbr title='Kun tegninger eller fotos af ting'>OBS:</abr></b></i>
    <b>Der skal ikke tilføjes billeder af børn eller andre personer, som ikke skal vises på nettet</b><br>
    <br></h3>
    <h3>Tilsidst er der nogle øve/lege sider som kan øve stavning og læsning</h3>



{% endblock content %}